body {
    background-color: #F0ECE6;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
html {
    height: 100%;
}


.btn {
    border-radius: 0;
}
.navbar {
    position: fixed;
    width: 100%;
}
.navbar-custom {
    background-color: white;
    opacity: 0.5;
}
a {
    color:black;
    text-decoration: none;

}

.bg1 {
    background-color: #fff;
    background-image: url("images/plants.jpg");
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.logo {*/
/*    background-image: url("images/logo.png");*/
/*   height: 463px;*/
/*    width: 388px;*/
/*    background-repeat: no-repeat;*/
/*    margin: auto;*/
/*}*/


.content {
    color: #fff;
    min-height: 650px;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.shop {
    height: 300px;
}


.about{
    /*background-color: #FDEED3;*/
}

footer{
    background-color: darkgrey;
    opacity: 0.7;
}

